<h1><%= @user.name %> profile</h1>

<h2>Created events</h2>
<% events = Event.where(creator_id: @user.id) %>
<% if events.empty? %>
    <p>No events created</p>
<% else %>
    <ul>
        <% events.each do |event| %>
            <li><h3><%= event.title %></h3> <p><%= event.local %></p> <p><%= event.date %></p></li>
            <%= link_to "Edit event", edit_event_path(event) %>
            <%= button_to "Delete event", event_path(event), method: :delete %>
        <% end %>
    </ul>
<% end %>

<h2>Participation in events</h2>

<% upcoming_events = Event.joins(:participate_events).where(participate_events: {user_id: @user.id}).where(date: (Time.now)..) %> 
<% past_events = Event.joins(:participate_events).where(participate_events: {user_id: @user.id}).where(date: ..(Time.now))%>

<% if (upcoming_events+past_events).empty? %>
    <p>No participations in events</p>
<% else %>

    <% if upcoming_events.empty? %>
        <p>No upcoming events</p>
    <% else %>
        <h3>Upcoming events</h3>
        <% upcoming_events.each do |participation| %>
            <p><%= participation.title %> by <%= participation.creator.name%> 
            <%= button_to "Remove participation", participate_event_path, params: {user_id: @user.id, event_id: participation.id}, method: :delete %> </p>
        <% end %>
    <% end %>

    <% if past_events.empty? %>
        <p>No past events</p>
    <% else %>
        <h3>Past events</h3>
        <% past_events.each do |participation| %>
            <p><%= participation.title %> by <%= participation.creator.name%> 
            <%= button_to "Remove participation", participate_event_path, params: {user_id: @user.id, event_id: participation.id}, method: :delete %> </p>
        <% end %>
    <% end %>

<% end %>

