<h1><%= @user.name %> profile</h1>

<% @events = @user.created_events %>
<% if @events.empty? %>
    <p>No events yet by <%= @user.name %></p>
<% else %>
    <ul>
        <% @events.each do |event| %>
            <li><h3><%= event.title %></h3> <p><%= event.local %></p> <p><%=event.date  %></p></li>
        <% end %>
    </ul>
<% end %>

<% @user.events_participations.each do |participations| %>
    <p><%= participations.title %> <%= participations.date  %> <%= participations.creator.name  %> </p>
<% end %>