<h1>New event</h1>

<%= form_with model: @event do |f| %>
  <div class="input_area">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input_area">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>
  <div class="input_area">
    <%= f.label :date %>
    <%= f.datetime_field :date %>
  </div>
  <%= f.submit %>
<% end %>
    