<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
    .nav-bar ul {
      list-style-type: none;
      margin :0;
      padding : 20px;
    }

    .nav-bar li{
      display: inline-block;
      margin : 10px;
    }
  </style>
  <body>
  <div class="nav-bar">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li>
        <% if user_signed_in? %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Login", new_user_session_path %>
        <% end %>
      </li>
      </ul>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
